[Unit]
Description=Image Server Aplication HTTP server
 
[Service]
Type=simple
ExecStart=/opt/imageServer/./CMVService
Restart=always

[Install]
WantedBy=multi-user.target